* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    --black-shade: #242424;
    --white-shade: rgb(250, 245, 245);
}

// Nav bar (Header Component) ---------

nav { 
    background-color: var(--black-shade);
    color: var(--white-shade);
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
}

ul {
    padding: 1.5em 1.5em;
    display: flex;
    list-style: none;
}

#burger-icon {
    margin-left: auto;
}

.icon {
    width: 1.5em;
    margin-left: .5em;
}

// ---------

// body (Title Component) ---------

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0.5em;
}

// ---------

// body (Hero Tiles) ---------

.img-tile--caption {
    display: flex;
    margin: 10px 0;
    gap: 10px;
    justify-content: center;
}

.img-tile {
    margin: 10%;
}

.img-tile--sec {
    background-color: aqua;
    position: relative;
}

.img-tile--sec-banner {
    color: whitesmoke;
    padding: 5px 10px;
    position: absolute;
}

.img-tile--sec-banner,
.caption-btn {
    background-color: #cd6858;
}

.caption-btn {
    padding: 10px 15px;
    color: whitesmoke;
    font-weight: 700;
    border: none;
    cursor: pointer;
    align-self: center;
}

.img-tile--main-img {
    display: block;
    width: 100%;
}

// ---------

// footer (Footer Component) ---------

.chat-icon {
    display: flex;
    background-color: #dda15e;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.chat-icon--img {
    width: 50%;
    margin: auto;
}

// ---------