* {
    box-sizing: border-box;
    margin: 0;
}

#root {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    --black-shade: #242424;
    --white-shade: rgb(250, 245, 245);
    --red-shade: #cd6858;
    --orange-shade: #dda15e;
    --grey: #999;
}

// css on mobile first approach
// Nav bar (Header Component) ---------

nav { 
    background-color: var(--black-shade);
    color: var(--white-shade);
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
}

ul {
    padding: 1.5em 1.5em;
    display: flex;
    list-style: none;
}

#burger-icon {
    margin-left: auto;
}

.icon {
    width: 1.5em;
    margin-left: .5em;
}

// ---------

// body (Title Component) ---------

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: .5em;
}

// ---------

// body (Hero Tiles) ---------

.img-tile {
    margin: 10%;
}

.img-tile--sec {
    position: relative;
}

.img-tile--sec-banner {
    color: var(--white-shade);
    padding: .32em .16em;
    position: absolute;
}

.img-tile--main-img {
    display: block;
    width: 100%;
    border-radius: .3em;
}

.img-tile--sec-banner,
.caption-btn {
    background-color: var(--red-shade);
}

.img-tile--caption {
    display: flex;
    margin: .5em 0;
    gap: .16em;
    justify-content: center;
    
}

.img-tile--caption p {
    padding: .2em .5em;
    font-weight: 300;
    font-size: .8rem;
}

.caption-btn {
    padding: .16em 1em;
    color: var(--white-shade);
    font-weight: 700;
    border: none;
    cursor: pointer;
    align-self: center;
    border-radius: .2em;
    margin-left: auto;
}

// ---------

// footer (Footer Component) ---------

.chat-icon {
    display: flex;
    background-color: var(--orange-shade);
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
    box-shadow: 1px 1px 5px var(--grey);
    position: fixed;
    bottom: .375em;
    right: .375em;
}

.chat-icon--img {
    width: 50%;
    margin: auto;
}

// ---------

// media queries for desktop screens
@media (min-width: 420px) {
    .title {
        max-width: 900px;
        margin-left: 10%;
    }

    h1 {
        font-size: 3.5rem;
    }

    .img-tile {
        max-width: 800px;
        font-size: 1.5rem;
        margin: 2% 23%;
    }

    .img-tile--caption p {
        font-size: 1.2rem;
    }

    .caption-btn {
        font-size: 1rem;
    }

    .chat-icon {
        height: 3.5em;
        width: 3.5em;
    }

}